.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
  transition: var(--link-transition);
}
.place__link:hover {
  opacity: var(--link-hover-opacity);
}